@font-face {
  font-family: 'Cera Pro Black';
  src: url('./assets/cera pro font/Cera Pro Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro Black Italic';
  src: url('./assets/cera pro font/Cera Pro Black Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro Bold';
  src: url('./assets/cera pro font/Cera Pro Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro Light';
  src: url('./assets/cera pro font/Cera Pro Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro Medium';
  src: url('./assets/cera pro font/Cera Pro Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro Regular Italic';
  src: url('./assets/cera pro font/Cera Pro Regular Italic.ttf') format('truetype');
}

$dark_color: #262626;
$light_color: #FBFBFB;
$main_color: #B23CFD;

body{
  background-color: $dark_color;
  color: $light_color;
}


.Home-Container {

  min-height: 100vh;

  .Home-Title {
    font-family: 'Cera Pro Bold', serif;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 20vh;
    margin-inline: 10vw;
  }

  .Home-Subtitle {
    font-family: 'Cera Pro Regular Italic', serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5vh;
  }

  .Home-Text {
    font-family: 'Cera Pro Medium', serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 12vh;
  }

  .Home-Login-Button {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    font-family: 'Cera Pro Medium', serif;

    .btn {
      font-size: 1.25rem;
    }
  }
}

.Register-Container {
  min-height: 100vh;
  font-family: 'Cera Pro Medium', serif;
  margin-inline: 5vw;
  padding-top: 30vh;
  .card{
    background-color: $light_color;
  }
  .Form-Contact{
    margin-block: 1.75rem;
    margin-inline: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    a{
      text-decoration: none;
      color: $main_color;
      text-align: center;
    }
    p{
      text-align: center;
      color: $dark_color;
      margin: 0;
    }
    .Button-Login{
      margin-inline: auto;
      color: $light_color;
    }
  }
}

  .Login-Container{
    min-height: 100vh;
    font-family: 'Cera Pro Medium', serif;
    margin-inline: 5vw;
    padding-top: 30vh;
    .card{
      background-color: $light_color;
    }
    .Form-Contact{
      margin-block: 1.75rem;
      margin-inline: 2rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      a{
        text-decoration: none;
        color: $main_color;
        text-align: center;
      }
      p{
        text-align: center;
        color: $dark_color;
        margin: 0;
      }
      .Button-Login, .Button-Register{
        margin-inline: auto;
      }
    }
  }

  .Dashboard{
    .Dashboard-Header{
      //display on right
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin: 1rem;
        align-items: center;
    }
  }


