@font-face {
  font-family: 'Cera Pro Black';
  src: url('./assets/cera pro font/Cera Pro Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro Black Italic';
  src: url('./assets/cera pro font/Cera Pro Black Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro Bold';
  src: url('./assets/cera pro font/Cera Pro Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro Light';
  src: url('./assets/cera pro font/Cera Pro Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro Medium';
  src: url('./assets/cera pro font/Cera Pro Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro Regular Italic';
  src: url('./assets/cera pro font/Cera Pro Regular Italic.ttf') format('truetype');
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$dark_color: #262626;
$light_color: #FBFBFB;
$main_color: #B23CFD;

body {
  background-color: $dark_color;
  color: $light_color;
}


.Home-Container {
  animation: 2s cubic-bezier(0.17, 0.55, 0.55, 1) 0s 1 fadeIn;

  min-height: 100vh;

  .Home-Title {
    font-family: 'Cera Pro Bold', serif;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 20vh;
    margin-inline: 10vw;
  }

  .Home-Subtitle {
    font-family: 'Cera Pro Regular Italic', serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5vh;
  }

  .Home-Text {
    font-family: 'Cera Pro Medium', serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 12vh;
  }

  .Home-Login-Button {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    font-family: 'Cera Pro Medium', serif;

    .btn {
      font-size: 1.25rem;
    }
  }
}

.Register-Container {
  animation: 1s cubic-bezier(0.17, 0.55, 0.55, 1) 0s 1 fadeIn;
  min-height: 100vh;
  font-family: 'Cera Pro Medium', serif;
  margin-inline: 5vw;
  padding-top: 30vh;

  .card {
    background-color: $light_color;
  }

  .Form-Contact {
    margin-block: 1.75rem;
    margin-inline: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    a {
      text-decoration: none;
      color: $main_color;
      text-align: center;
    }

    p {
      text-align: center;
      color: $dark_color;
      margin: 0;
    }

    .Button-Login {
      margin-inline: auto;
      color: $light_color;
    }
  }
}

.Login-Container {
  animation: 1s cubic-bezier(0.17, 0.55, 0.55, 1) 0s 1 fadeIn;
  min-height: 100vh;
  font-family: 'Cera Pro Medium', serif;
  margin-inline: 5vw;
  padding-top: 20vh;

  .card {
    background-color: $light_color;
  }

  .Form-Contact {
    animation: 1s cubic-bezier(0.17, 0.55, 0.55, 1) 0s 1 fadeIn;
    margin-block: 1.75rem;
    margin-inline: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    .form-content{
      p{
        margin-top: .3rem;
        padding-left: .3rem;
        text-align: start;
        color: red;
      }
    }

    a {
      text-decoration: none;
      color: $main_color;
      text-align: center;
    }

    p {
      text-align: center;
      color: $dark_color;
      margin: 0;
    }

    .Button-Login, .Button-Register {
      margin-inline: auto;
    }
  }
}

%Dashboard-Budget {
  margin-block: 3rem;
  margin-left: 5vw;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  font-family: 'Cera Pro Bold', serif;
  font-size: 1.5rem;
}


.Dashboard {
  .Dashboard-Header {
    animation: 1s cubic-bezier(0.17, 0.55, 0.55, 1) 0s 1 fadeIn;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
    font-family: 'Cera Pro Medium', serif;
  }

  .Dashboard-Menu {
    animation: 1s cubic-bezier(0.17, 0.55, 0.55, 1) 0s 1 fadeIn;
    .Dashboard-AddBudget {
      @extend %Dashboard-Budget;

      .btn {
        border-radius: 100%;
        font-size: 1.5rem;
        padding: 0.5rem 1.25rem;
      }
    }

    .Dashboard-AddBudget-Form {
      animation: 1s cubic-bezier(0.17, 0.55, 0.55, 1) 0s 1 fadeIn;
      font-family: 'Cera Pro Medium', serif;
      margin-top: 3rem;
      margin-inline: 5vw;
      color: $dark_color;

      .edit-info{
        font-family: 'Cera Pro Black Italic', serif;
        font-size: 1.35rem;
      }

      .card {
        background-color: $light_color;
        padding: 2rem;

        .createBudgetForm {
          .form-floating, .form-select {
            font-family: 'Cera Pro Regular Italic', serif;
            margin-bottom: 2rem;
          }
        }

        %btn {
          margin-top: .5rem;
          font-size: 1rem;
        }

        .btn-submit {
          @extend %btn;
        }

        .btn-cancel {
          @extend %btn;
          margin-left: 1.82rem;
        }
      }
    }

    .Dashboard-DeleteBudget {
      @extend %Dashboard-Budget;

      .btn {
        border-radius: 100%;
        font-size: 1.5rem;
        padding: 0.5rem 1.41rem;
      }
    }

    .Dashboard-DeleteBudget-Form {
      animation: 1s cubic-bezier(0.17, 0.55, 0.55, 1) 0s 1 fadeIn;
      font-family: 'Cera Pro Medium', serif;
      margin-top: 3rem;
      margin-inline: 5vw;
      color: $dark_color;
    }

    .card {
      background-color: $light_color;
      padding: 2rem;

      .deleteBudgetForm {
        .delete-info{
          font-family: 'Cera Pro Black Italic', serif;
          font-size: 1.25rem;
        }
        .form-select {
          font-family: 'Cera Pro Regular Italic', serif;
          margin-bottom: .5rem;
        }
      }

      %btn {
        margin-top: .5rem;
        font-size: 1rem;
      }

      .btn-delete {
        @extend %btn;
      }

      .btn-cancel {
        @extend %btn;
        margin-left: 0.37rem;
      }
    }
  }

  .Dashboard-EditBudget {
    @extend %Dashboard-Budget;

    .btn {
      border-radius: 100%;
      font-size: 1.5rem;
      padding: 0.5rem .92rem;
    }
  }

  .Dashboard-EditBudget-Form {
    animation: 1s cubic-bezier(0.17, 0.55, 0.55, 1) 0s 1 fadeIn;
    font-family: 'Cera Pro Medium', serif;
    margin-top: 3rem;
    margin-inline: 5vw;
    color: $dark_color;

    .card {
      background-color: $light_color;
      padding: 2rem;
    }

    .editBudgetForm {

      .edit-info{
        font-family: 'Cera Pro Black Italic', serif;
        font-size: 1.35rem;
      }
      .form-select, .form-floating {
        font-family: 'Cera Pro Regular Italic', serif;
        margin-bottom: 2rem;
      }

      %btn {
        margin-top: .5rem;
        font-size: 1rem;
      }

      .btn-edit {
        @extend %btn;
      }

      .btn-cancel {
        @extend %btn;
        margin-left: 1.8rem;
      }
    }
  }

  .Dashboard-Budget{
    animation: 1s cubic-bezier(0.17, 0.55, 0.55, 1) 0s 1 fadeIn;
    color: $dark_color;
    margin: 7vh 10vw;

    .card{
      background-color: $light_color;
      padding: .5rem;
      box-shadow: 0 0 10px 0 $main_color;
    }

    %teskt{
      font-family: 'Cera Pro Black', serif;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
    }

    .Budget-Name {
      @extend %teskt;

    }

    .Budget-Category, .Budget-Amount {
      @extend %teskt;
      font-family: 'Cera Pro Medium', serif;
    }

    .Budget-Bar{
        font-family: 'Cera Pro Medium', serif;
      .progress{
        height: 1.5rem;
        border-radius: 1rem;
      }
        .progress-bar{
          background-color: $main_color;
          font-size: 1.5rem;
        }
    }
  }
}

.LoadingScreen{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.Alert-Budget{
  position: sticky;
  top: 2rem;
  z-index: 100;
  font-family: 'Cera Pro Medium', serif;
  margin-bottom: 1rem;
  .css-1pxa9xg-MuiAlert-message{
    font-size: 1rem;
  }
}

.Summary{
  font-family: "Cera Pro Medium", serif;
}


@media screen and (min-width: 768px) {
  .Dashboard-Header{
    gap: 1rem;
    margin: 1rem;
    font-size: 1.75rem;
    .btn{
        font-size: 1.15rem;
    }
  }
  .Dashboard-Menu{
    .Dashboard-AddBudget{
        .btn{
            font-size: 2rem !important;
            padding: 0.5rem 1.45rem !important;
        }
      span{
        font-size: 2rem;
      }
    }

    .Dashboard-DeleteBudget{
      .btn{
        font-size: 2rem !important;
        padding: 0.5rem 1.65rem !important;
      }
      span{
        font-size: 2rem;
      }
    }

    .Dashboard-EditBudget{
      .btn{
        font-size: 2rem !important;
        padding: 0.5rem 1rem !important;
      }
      span{
        font-size: 2rem;
      }
    }

  }
}

@media screen and (min-width: 1024px) {

  .Home-Container{
    overflow: hidden;
    .Home-Title{
      margin-top: 7vh;
      font-size: 3rem;
    }

    .Home-Subtitle{
        font-size: 2rem;
        margin-top: 8vh;
    }

    .Home-Text{
        margin-top: 10vh;
        font-size: 2.5rem;
    }
  }

  .Home-Login-Button{
    .btn{
      font-size: 1.5rem !important;
    }
  }

  .Login-Container{
    margin-inline: 35vw;
  }

  .Register-Container{
    margin-inline: 35vw;
    .form-content{
      p{
        margin-top: .3rem;
        padding-left: .3rem;
        text-align: start;
        color: red;
      }
    }
  }

  .Dashboard-AddBudget-Form, .Dashboard-DeleteBudget-Form, .Dashboard-EditBudget-Form{
    margin-inline: 35vw !important;
  }

  .Dashboard-Budget{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
  }

  .Summary{
    position: sticky;
    bottom: 0;
    min-width: 100%;
    margin-top: 50vh !important;
  }

}
